{"hingeangle_0_platform.hingeangle.config":{"owner":"hingeangle","gpio_high_angle":{"type":"flt","ver":"0","data":"190"},"gpio_low_angle":{"type":"flt","ver":"0","data":"170"},"gpio":{"type":"int","ver":"0","data":"174"},"key_board_idx":{"type":"int","ver":"0","data":"1"},"orient":{"type":"int","ver":"0","data":"0"},"stream_data":{"type":"int","ver":"0","data":"1"},"resolution":{"type":"flt","ver":"0","data":"5"}}}